.searchField {
    width: 100%;
    margin: 0 auto;
}

.formSearch {
    padding-top: 50px;
    min-width: 150px;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}
  
.formField {
    width: 100%;
}

.searchIcon {
    vertical-align: middle;
}
