<form class="formSearch">
    <mat-form-field class="formField">
        <span matPrefix><mat-icon class="searchIcon">search</mat-icon>&nbsp;</span> 
            <input matInput placeholder="Search" value="">
        <mat-icon matSuffix class="searchIcon">close</mat-icon>
    </mat-form-field>
</form>
