.card{
    max-width: 350px;
    margin: 36px 5px 4px 5px;
    font-size: 16px;
    background-color: #FFFFFF;
    box-shadow: 3px 3px 16px grey;
    transition: box-shadow 0.2s;
}

.card:hover{
    box-shadow: 4px 8px 32px grey;
}

.card .content {
    text-align: left;
    width: 100%;
    display: block;
    padding-left: 18px;
    padding-top: 18px;
    padding-bottom: 18px;
    font-size: 14px;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}

.card .actions {
    text-align: left;
    // border-top: 1px solid rgba($color: #000000, $alpha: 0.15);
    padding: 18px;
    font-size: 11px;
    color: #b3b3b3;
    height: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card .actions mat-icon{
    padding-right: 20px;
    font-size: 20px;
}

.card .actions .leftSide {
    float: left;
}

.card .actions .rightSide {
    float: right;
}

.card .footer{
    border-bottom: 1px black solid;
}

.card img{
    display: block;
    width: 100%;
    height: auto; 
}

.card .header{
    padding: 16px;
    height: 100%;
    overflow:auto;
}

.card .header .avatar img{
    height: 48px;
    width: 48px;
    border-radius: 50%;
    margin-right: 8px;
    float:left;
}

.card .header .title{
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}

.card .header .title .username{
    width: 100%;
}

.card .header .title .username a{
    text-decoration: none;
    color: rgb(107, 107, 107)
}

.card .header .title .username a:hover{
    cursor: pointer;
}

.card .header .title .username a:visited{
    color: rgb(107, 107, 107)
}


