<div class="card">
    <div class="header">
        <div class="avatar">
            <a [routerLink]="['/user', image.userId]">
                <img [src]="image.userAvatarUrl"/>
            </a>
        </div>
        <div class="title">
            <div class="username">
                <a [routerLink]="['/user', image.userId]">
                    {{ image.username }}
                </a>
            </div>
        </div>
    </div>
    <a [routerLink]="['/image', image.imageId]">
        <img [src]="image.imageUrl"/>
    </a>
    <div class="content">
        <div class="imageTitle">
            {{ image.title }}
        </div>
    </div>
    <mat-divider></mat-divider>
    <div class="actions">
        <div class="leftSide">
            <span>
                8 Faves
            </span>
            <span>
                38 Views
            </span>
        </div>
        <div class="rightSide">
            <a>
                <mat-icon>star_border</mat-icon>
            </a>
            <a>
                 <mat-icon>comment</mat-icon>  
            </a>
            <a>
                <mat-icon style="padding: 0;">share</mat-icon>
            </a>
        </div>
    </div>
</div>

<!-- <mat-card class="card">
    <mat-card-header>
        <img class="avatar-image" [src]="image.avatarUrl"/>
        <mat-card-title>{{ image.title }}</mat-card-title>
        <mat-card-subtitle>image.title</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="image.imageUrl" class="card-image" alt=""/>
    <mat-card-content>
        STUFFF
    </mat-card-content>    
</mat-card> -->