<mat-toolbar class="toolbar-shadow" color="primary">
    <mat-toolbar-row>
        <a routerLink="/" class="navbar-brand">
            Flickr Search
        </a>
        <span class="spacer"></span>
        <a class="navButton" routerLink="/">Home</a>
        <a class="navButton" routerLink="/about">About</a>
    </mat-toolbar-row>
</mat-toolbar>