.toolbar-shadow{
    box-shadow: 0px 0px 12px 2px #000000;
}

.spacer {
    flex: 1 1 auto;
}

.navbar {
    background-color: #3F51B5;
}

a {
    color: white;
    text-decoration: none;
}

.navButton{
    border: none;
    text-align: center;
    line-height: 64px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    background-color: #3F51B5;
    color: white; 
    padding: 0 14px;
    transition-duration: 0.4s;
    height: 97%;
    border-bottom: 2px solid rgba(255,255,255,0);
}

.navButton:hover{
    background-color: rgba(255, 255, 255, 0.13);
    border-bottom: 2px solid #E8993A;
}

.rounded-15{
    border-radius: 15px;
}

