<div class="details-container">
    <div class="image-header">
    </div>
    <div class="image-container">
        
        <div class="leftIcon" >
            <button mat-icon-button (click)="cancelImageBlobRequest()"
                *ngIf="prevPhotoId !== 0" 
                [routerLink]="['/image', prevPhotoId]">
                    <mat-icon>chevron_left</mat-icon>
            </button>
        </div>
        <div class="image">
            <mat-progress-spinner [value]="loadPercentage" *ngIf="isLoading"></mat-progress-spinner>
            <img [src]="imageBlobUrl" *ngIf="!isLoading"/>
         </div>
        <div class="rightIcon">
            <button mat-icon-button (click)="cancelImageBlobRequest()"
            *ngIf="nextPhotoId !== 0" 
                [routerLink]="['/image', nextPhotoId]">
                    <mat-icon >chevron_right</mat-icon>
            </button>
        </div>
    </div>
    <div class="image-header">
    </div>
</div>
<div class="container">
    <div class="details-content" *ngIf="image">
        <div class="details-owner">
            <a [routerLink] = "['/user', image.userId]">
                <img class="avatar" [src]="image.userAvatarUrl">
            </a>
            <div class="cont">
                <a [routerLink] = "['/user', image.userId]">
                    {{image.username}}
                </a>
                <p class="imageTitle">
                    {{image.title}}
                </p>
            </div>
        </div>
        <div class="details-more">
            <div>
                <span> 100,380 </span>
                <p>views</p>
            </div>
            <div>
                <span> 1,008 </span>
                <p>faves</p>
            </div>
            <div>
                <span> 65 </span>
                <p>comments</p>
            </div>
        </div>
    </div>
</div>

<!--  *ngIf="nextPhotoId !== 0" -->