.details-container{
    overflow:auto;
}

.details-container mat-progress-spinner{
    z-index: 999;
    top: calc(50% - 50px);
}

.details-container .image-header{
    background-color: #212124;
    height: 64px;
    width: 100%;
}

.details-container .image-footer{
    background-color: #212124;
    height: 64px;
    width: 100%;
}

.details-container .image-container{
    height: 800px;
    width: 100%;
    background-color: #212124;
    display: flex;
}

.details-container .image-container .leftIcon{
    padding: 0;
    height: 100%;
    width: 64px;
    float:left;
    color: grey;
    font-size: 48px;
    flex: auto;
}

.details-container .image-container .image{
    // display: block;
    // margin: 0 auto;
    height: 100%;
    width: auto;
    flex-grow: 1;
    
}

.details-container .image-container img{
    max-height: 100%;
    max-width: 100%;
}

.details-container .image-container .leftIcon button{
    padding: 0;
    height: 100%;
    width: 64px;
    background: rgba(0, 0, 0, 0);
    border: none;
}

.details-container .image-container .leftIcon button .mat-icon{
    transition: color 0.3s;
}

.details-container .image-container .leftIcon button:hover .mat-icon{
    color: white;
}

.details-container .image-container .leftIcon button:focus{
    outline:0;
}

.details-container .image-container .leftIcon mat-icon{
    width: 100%;
    font-size: 48px;
    color: grey;
}

.details-container .image-container .rightIcon{
    width: 64px;
    // padding: 0;
    // height: 100%;
    // color: grey;
    // font-size: 48px;
    // margin-left:auto; 
    // margin-right:0;

}

.details-container .image-container .rightIcon button{
    padding: 0;
    height: 100%;
    width: 64px;
    background: rgba(0, 0, 0, 0);
    border: none;
}

.details-container .image-container .rightIcon button .mat-icon{
    transition: color 0.3s;
}

.details-container .image-container .rightIcon button:hover .mat-icon{
    color: white;
}

.details-container .image-container .rightIcon button:focus{
    outline:0;
}

.details-container .image-container .rightIcon mat-icon{
    width: 100%;
    font-size: 48px;
    color: grey;
}

.details-content{
    overflow: hidden;
}

.details-content .details-owner{
    padding: 16px;
    overflow: hidden;
    width: 45%;
}

.details-content .details-owner .avatar {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    float: left;
    margin-right: 12px;
}

.details-content .details-owner a {
    margin: 0;
    font-size: 20px;
    text-decoration: none;
    color: black;
    transition: 0.3s;
}

.details-content .details-owner a:hover{
    cursor: pointer;
    color: dodgerblue;
    text-decoration: underline;
}

.details-content .details-owner .imageTitle {
    margin: 0;
    padding-top: 8px;
}

.cont {
    padding-top: 4px;
}

.details-content .details-more{
    padding: 16px;
    overflow: hidden;
    width: 45%;
    float: right;
}

.details-content .details-more div{
    float:left;

}




